CONTAINER="pihole"
CONTAINER_IMAGE="pihole/pihole:latest"
CONTAINER_RESTART_MODE="unless-stopped"
SERVER_IPV4="192.168.1.10"
SERVER_IPV6="2001:818:e303:ac00:81:a5ff:fea6:88a1"
IPV6="true"
DNS_SERVER="1.1.1.1"
DNS_SERVER1="1.1.1.1"
DNS_SERVER2="1.0.0.1"
ADMIN_EMAIL="email@domain.com"
TIMEZONE="Europe/Lisbon"
WEBPASSWORD="YourPasswordHere"
VOL_ETC_DNSMASQ="$CURRENT_DIR/volumes/$CONTAINER/etc-dnsmasq.d"
VOL_ETC_PIHOLE="$CURRENT_DIR/volumes/$CONTAINER/etc-pihole"
